@charset "utf-8";

.bright button.mode {
    border: 1px solid #000;
    background-color: #fff;
}

button.mode {
    position: fixed;
    width: 60px;
    height: 30px;
    right: 0;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}

button.mode.light .in {
    margin-left: 28px;
    background-color: #000;
}

button.mode .in {
    display: block;
    background-color: #f1f1f1;
    width: 22px;
    height: 22px;
    margin-left: 4px;
    border-radius: 50%;
    transition: all .5s;
}

button {
    transition: transform 0.2s;
}

body.bright {
    background-color: #FEFEFE !important;
    color: #111;
}

body.bright .gnb {
    background-color: #fff !important;
    box-shadow: 4px 4px 10px 0px rgba(153, 153, 153, 0.25);
}

body.bright h2 {
    color: #000 !important;
}

body.bright p {
    color: #000 !important;
}

body.bright a {
    color: #000 !important;
}

body.bright .intro {
    background-color: #fff !important;
}

body.bright .intro span {
    color: #7c7c7c !important;
}

body.bright .point {
    background-color: #fff !important;
}